# name interfaces based on bus location

# virtualbox (intel)
# SUBSYSTEM=="net", ACTION=="add", DRIVERS=="e1000", KERNELS=="0000:00:03.0", NAME="ETH0"
# SUBSYSTEM=="net", ACTION=="add", DRIVERS=="e1000", KERNELS=="0000:00:08.0", NAME="ETH1"
# SUBSYSTEM=="net", ACTION=="add", DRIVERS=="e1000", KERNELS=="0000:00:09.0", NAME="ETH2"
# SUBSYSTEM=="net", ACTION=="add", DRIVERS=="e1000", KERNELS=="0000:00:0a.0", NAME="ETH3"

# sbc-gene-bt05
# SUBSYSTEM=="net", ACTION=="add", DRIVERS=="igb", KERNELS=="0000:00:1c.0", NAME="ETH0"
# SUBSYSTEM=="net", ACTION=="add", DRIVERS=="igb", KERNELS=="0000:00:1c.1", NAME="ETH1"
# SUBSYSTEM=="net", ACTION=="add", DRIVERS=="rtl8188e", KERNELS="0000:04:00.0", NAME="WLAN0"
# SUBSYSTEM=="net", ACTION=="add", DRIVERS=="qmi_wwan", KERNELS="0-0:1.8", NAME="WWAN0"
# SUBSYSTEM=="net", ACTION=="add", DRIVERS=="cdc_mbim", KERNELS="0-0:1.12", NAME="WWAN0"

# sbc-raspberrypi5
# SUBSYSTEM=="net", ACTION=="add", DRIVERS=="macb", KERNELS=="1f00100000.ethernet", NAME="ETH0"
# SUBSYSTEM=="net", ACTION=="add", DRIVERS=="brcmfmac", KERNELS="mmc1:0001:1", NAME="WLAN0"
# SUBSYSTEM=="net", ACTION=="add", DRIVERS=="qmi_wwan", KERNELS="3-2:1.8", NAME="WWAN0"
# SUBSYSTEM=="net", ACTION=="add", DRIVERS=="cdc_mbim", KERNELS="3-2:1.12", NAME="WWAN0"
