SUBSYSTEM=="tty", DRIVERS=="qcserial", KERNELS=="*:1.2", \
    ENV{ID_MM_PORT_IGNORE}="1", \
    PROGRAM+="/bin/sh -c 'echo \$GPS_START > /dev/%k'", ENV{SYSTEMD_WANTS}+="gpsd@%k.service"
