# .gitignore

__pycache__/
.git/

.repo/
!.repo/manifests
.vscode/
!.vscode/extensions.json
!.vscode/settings.json
build/
layers/
!layers/meta-distro

*.swp
*.un~
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*
.history
