__pycache__/
.git/
.repo/manifests.git/
.repo/project-objects/
.repo/projects/
.repo/*.json
.repo/manifest.xml
.repo/projects_list
.repo/TRACE_FILE
build/
git/
tmp*/
*.vscode
!/.vscode
*.swp
*.un~
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*
.history
