# conf/templates/distro-tiny/local.conf.sample

CONF_VERSION = "2"

DISTRO ??= "distro-tiny"

MACHINE ??= "qemux86-64"

BBMULTICONFIG ?= ""

DL_DIR ?= "${TOPDIR}/downloads"

SSTATE_DIR ?= "${TOPDIR}/sstate-cache"

TMPDIR = "${TOPDIR}/tmp"

# BB_CONSOLELOG = "${TMPDIR}/bitbake.log"

CACHE = "${TOPDIR}/cache"

PERSISTENT_DIR = "${TOPDIR}/cache"

BB_CACHEDIR = "${TOPDIR}/cache"

DEPLOY_DIR = "${TMPDIR}/deploy"

# SSTATE_ALLOW_OVERLAP_FILES += "${DEPLOY_DIR_IMAGE}/microcode"

PACKAGE_CLASSES ?= "package_rpm"

USER_CLASSES ?= "buildstats buildstats-summary"

EXTRA_USER_CLASSES ??= "none"

USER_CLASSES:prepend = "${EXTRA_USER_CLASSES} "

PATCHRESOLVE = "noop"

BB_DISKMON_DIRS ??= "\
    STOPTASKS,${TMPDIR},1G,100K \
    STOPTASKS,${DL_DIR},1G,100K \
    STOPTASKS,${SSTATE_DIR},1G,100K \
    STOPTASKS,/tmp,100M,100K \
    HALT,${TMPDIR},100M,1K \
    HALT,${DL_DIR},100M,1K \
    HALT,${SSTATE_DIR},100M,1K \
    HALT,/tmp,10M,1K"

PACKAGECONFIG:append:pn-qemu-system-native = " sdl"

########################################

require conf/distro/sota.conf.inc

# require conf/distro/include/distro-common.inc

# ---
