# runtime disable audit=0
# CONFIG_ AUDIT=y
# CONFIG_AUDITSYSCALL is not set
# CONFIG_AUDIT_TREE is not set

CONFIG_SYSFS=y
CONFIG_MULTIUSER=y

# CONFIG_ SECURITY_DMESG_RESTRICT=y
# CONFIG_ SECURITY_LOCKDOWN_LSM=y
# CONFIG_ SECURITY_LOCKDOWN_LSM_EARLY=y
