[Unit]
Description=Indicate an OSTree boot
After=multi-user.target

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/usr/bin/touch /run/ostree-booted

[Install]
WantedBy=ostree-booted.target
